.characters{
	width: 25%;
	border-style: border box;
	float: left;
	margin:0;
}

.images{
	margin: 0px;
	border-style: border box;
}

/*h1{
	font-size: 30px;
}*/

h4{
	text-align: center;
}


@media screen and (max-width:600px ) {
	.characters{
		width: 50%;
	}
}